.input-reset {
  display: flex;
  cursor: pointer;
  text-align: center;
  appearance: none;
  background: transparent;
  width: 3em;
  margin-right: -20px;
  border: none;
}
.input-reset .icon {
  width: 25px;
  height: 25px;
  box-shadow: 0 0 3px grey;
  border-radius: 50%;
}
.resetButton-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 7em;
  right: 17px;
}
